:root {
    --color-container: #000000;
    --color-card: #1e181c;
    --color-font-primary: #eaeaea;
    --color-font-secondary: #ffffffb3;
    --color-fontactive: #3b40d5;
    --color-star: #f5c518;
    --color-star-hover: #8b7113;

    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    background-color: var(--color-container);
    color: var(--color-font-primary);
}

body {
    font-family: var(--font-mono);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: var(--font-mono);
}

button,
input,
textarea {
    font-family: var(--font-mono);
}
